hadoop  2.7.3  http://www.apache.org/dyn/closer.cgi/hadoop/common/hadoop-2.7.3/hadoop-2.7.2.tar.gz
hive    2.1.1  http://mirror.fibergrid.in/apache/hive/hive-2.1.1/apache-hive-2.1.0-bin.tar.gz
spark   2.1.1  https://d3kbcqa49mib13.cloudfront.net/spark-2.1.0-bin-hadoop2.7.tgz
java    1.8.0  /bigdata/sdk/jdk8
