hadoop  3.1.1  http://mirrors.estointernet.in/apache/hadoop/common/hadoop-3.1.1/hadoop-3.1.1.tar.gz
hive    3.1.1  http://mirrors.fibergrid.in/apache/hive/hive-3.1.1/apache-hive-3.1.1-bin.tar.gz
spark   2.3.2  http://mirrors.estointernet.in/apache/spark/spark-2.3.2/spark-2.3.2-bin-hadoop2.7.tgz
java    1.8.0  /bigdata/sdk/jdk8
